*/bin/*
*o
*a
Makefile
*install/
*swp
*swn
*swo
tags
*pc
.*
config.log
config.status
arecord
alsaconf
aconfig.h
pcm_symbols_list.c
version
config.h
alsa-utils.spec
stamp-h1
ctl_symbols_list.c
alsa-lib.spec
stamp-h1
aserver
libtool
*.rules
alsactl
alsaloop
alsaucm
amidi
amixer
aplay
alsabat
iecset
aconnect
aplaymidi
arecordmidi
aseqdump
aseqnet
speaker-test
alsatplg



